.mainBox{
    position: relative;
    padding: 0px 30px 0px 10px;
    box-sizing: border-box;
}

.tool-right{
    position: absolute;
    top: 30px;
    right: 10px;
}

.tool-right i {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
}

.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
        padding-right: 30px;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
        padding-right: 30px;
    }
}