.json_key {
    color: #92278f;
    font-weight: bold;
}

.json_null {
    color: #f1592a;
    font-weight: bold;
}

.json_string {
    color: #3ab54a;
    font-weight: bold;
}

.json_number {
    color: #25aae2;
    font-weight: bold;
}

.json_boolean {
    color: #f98280;
    font-weight: bold;
}

.json_link {
    color: #61D2D6;
    font-weight: bold;
}

textarea{
    resize: none;
}

.nopaddingleft{
    padding-left: 0px;
}

.tool-top i {
    padding: 0px 10px;
    cursor: pointer;
}

.tool-right i {
    cursor: pointer;
}