.json_key {
    color: #92278f;
    font-weight: bold;
}

.json_null {
    color: #f1592a;
    font-weight: bold;
}

.json_string {
    color: #3ab54a;
    font-weight: bold;
}

.json_number {
    color: #25aae2;
    font-weight: bold;
}

.json_boolean {
    color: #f98280;
    font-weight: bold;
}

.json_link {
    color: #61D2D6;
    font-weight: bold;
}

.mainBox{
    position: relative;
    padding: 5px 30px 5px 10px;
    box-sizing: border-box;
}

.tool-top{
    border: 1px solid #ccc;
    border-bottom: 0;
    padding: 10px 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.tool-top .pull-right{
    margin-top: 5px;
}

.tool-right{
    position: absolute;
    top: 50px;
    right: 10px;
}

.tool-top i {
    padding: 0px 6px;
    cursor: pointer;
}

.tool-right i {
    cursor: pointer;
    display: block;
}

.form-control{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

textarea{
    resize: none;
}

